@charset "UTF-8";

@font-face {
    font-family: 'Chocolates';
    src: url('fonts/TT\ Chocolates\ Trial\ Regular.otf');
    font-weight: normal;
    font-style: normal;
}

/* 
    # = id
    . = class
    : = pseudo-class
    :: = pseudo-element
    > = children
*/

body {
    background-color: rgb(34, 34, 34);
    font-family: 'Chocolates';
    /* margin: auto; */
}

div {
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: center;
    padding: 20px;
    width: max-content;
    height: min-content;
    border-radius: 15px;
    margin: 20px auto;

}

h1 {
    margin: 0;
}

ul {
    text-align: justify;
    margin: 16px 16px 0px 16px;
    padding: 0px;
}

a {
    color: rgb(216, 216, 216);
    text-decoration: none;
}

a:visited {
    color: rgb(172, 172, 172);
}

a:hover {
    text-decoration: line-through;
}