@charset "UTF-8";


body {
  background-color: #15202B;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;           
}
h1{
  color: white;
}
h2{
  color: white;
}
p{
  color: white;
  text-align: justify;
}
ul{
  color: white;
}
a{
  color: rgb(29, 161, 242);
}